
body {
    background: #f2f2f2;
    /*background-image: linear-gradient(to bottom right, #f2f2f2,#a2ceec);*/
    margin: 0;
}

h1 {
    color:#000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h2:hover {
    /*background-color: #F27280;*/
    color: #f2f2f2;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
    position: relative;
    left: 40px;
    top: 40px;
}

.menu {
    position: absolute;
    left: 40px;
    top: 120px;
    line-height: 40px;
}
