h1 {
    color:rgb(247, 163, 255);
}

h2 {
    color: rgb(230, 248, 227);
}

.header{
    padding: 40px;
    text-align: left;
    line-height: 20px;
    background: darkseagreen;
    font-size: 30px;
}