
body {
    background: blanchedalmond;
    /*background-image: linear-gradient(to bottom right, #f2f2f2,#a2ceec);*/
    margin: 0;
}

h1 {
    color:#000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

h2 {
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h2:hover, h3:hover{
    /*background-color: #F27280;*/
    color: #f2f2f2;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    color:#f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
    position: relative;
    left: 40px;
    top: 40px;
}

.menu {
    position: relative;
    left: 40px;
    top: 100px;
}

.btn {
    line-height: 10px;
    border: none;
    background-color: inherit;
}

.pika {
    height: 80px;
    position: absolute;
    top: 10px;
    right: 0px;
}

.logo {
    height: 48px;
    position: absolute;
    top: 40px;
    left: 45px;
}